#formulaire
{
    margin-top: 15%;
    margin-left: 40%;
    border: 2px solid black;
    width: max-content;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom:20px;
    background-color: whitesmoke;
}

#submit
{
    margin-top: 30px;
}

#pass_infos div {
    margin-top: 10px;
}

#error_message
{
    color: red;
}